!!!
html
  head
    title TD #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/td/stylesheets/style.css')
    link(rel='stylesheet', href='/td/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/td/stylesheets/bootstrap-responsive.css')
  body(style="margin-top: 0px; padding-top: 10px;")
    a(href="/td/logout", style="float:right") Logout
    .container(style="margin-top: 20px")!=body
    script(src='/td/javascripts/bootstrap.js')
    script(src='/td/javascripts/jquery-1.7.1.js')
