!!!
html
  head
    title TD #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
  body
    .container!=body
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/jquery-1.7.1.js')
