div(class="span12", style="margin-left: 0px")
    div(class="span4 offset4")
        form(class="well span3",method="post",action="/login")
            h2 Login
            input(type="text", class="span3", placeholder="Name",name="username")
            input(type="password", class="span3", placeholder="Password",name="password")
            button(type="submit", class="btn") Submit
    div(class="span4 offset4")
        !{message}
